<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome to Our E-commerce Website!</h1>

    {% if user.is_authenticated %}
        <div>
            <a href="{% url 'all_products' %}">
                <button type="button" class="btn btn-dark">Products</button>
            </a>
            <a href="{% url 'logout' %}">
                <button type="button" class="btn btn-danger">Logout</button>
            </a>
        </div>
    {% else %}
        <div>
            <a href="{% url 'register_user' %}">
                <button type="button" class="btn btn-dark">Register</button>
            </a>
        </div>
        <div>
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-dark">Login</button>
            </a>
        </div>
        <div>
            <a href="{% url 'all_products' %}">
                <button type="button" class="btn btn-dark">Products</button>
            </a>
        </div>
    {% endif %}
</body>
</html>
