<!-- view_cart.html -->
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Shopping Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'voltrium/style/styles.css' %}">
</head>
<body>
    <div id="bg"></div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script>
        VANTA.NET({
            el: "#bg",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 500.00,
            minWidth: 1000.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0xe06400,
            backgroundColor: 0x222222,
            spacing: 20.00,
            showDots: false
        })
    </script>
    <div class="container">
        <h2>Your Shopping Cart</h2>

        {% if cart_items %}
        <ul>
            {% for item in cart_items %}
            <li class="d-flex align-items-center">
                <div>
                    <strong>{{ item.product.name }} : {{ item.quantity }}</strong>
                </div>
                <form method="post" action="{% url 'remove_from_cart' item.id %}" style="margin-left: auto;">
                    {% csrf_token %}
                    <button type="submit" name="remove_item" class="remove-btn">
                        <img src="{% static 'images/delete_cart.png' %}" alt="Remove from Cart" width="40" height="40">
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>

        <form method="post" action="{% url 'view_cart' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="payment_method" class="form-label"><strong>Select Payment Method:<strong></label>
                {{ payment_form.payment_method }}
            </div>

            <div>
                <button type="submit" name="place_order" class="btn btn-primary">Place Order</button>
                <a href="{% url 'all_products' %}" class="btn btn-secondary">Continue Shopping</a>
            </div>
        </form>

        {% else %}
        <p style="color: #EEEEEE;">Your cart is empty.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        {% endif %}


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
